h1{
    font-size: 70px;
}
nav{
    background-color: #f2d11a;
}
img{
    height: 50px;
    width: auto;
}

.header{
    background-color: #cb1a16;
}

h2{
    background-color: #f09a1a;
    color: white;
    padding: 10px;
}

h3 {
    background-color: #f09a1a;
    color: white;
    padding: 10px;
    font-size: 20px;
}

li a{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

li a:hover{
    background-color: #f09a1a;
    color: white;
}
.poloha{
    width: 100%;
    height: auto;
}
.domecek{
    height: 22px;
    width: 25px;
}